page-busca {
    .toolbar-background {
        background-image: linear-gradient(to bottom right, #5a4dfc, #60d8fb);
    }
}


ion-header.toolbar-background {
    background-image: linear-gradient(to bottom right, #5a4dfc, #60d8fb);
}

ion-title {
    color: white;
}

.card {
    background-color: #B3C8CE;
    background: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
}		 
